<!DOCTYPE html>
<html ng-app>
<!------ Include the above in your HEAD tag ---------->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>AngularJS, Login</title>
    <!-- AngularJS File -->


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>

    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>

    <link rel="stylesheet" href="css/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app/borrarCita.css" />

</head>

<div class="nav-side-menu">

    <a><img src="logos_sescam.png" class='imgRedonda' />


    </a>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">

            <li>
                <a href="http://localhost:8080/paciente">
                    <i class="fas fa-tachometer-alt fa-lg"></i> Mis Citas
                </a>
            </li>

            <li>
                <a href="https://app-sanidad.herokuapp.com/pedirCita"><i class="fas fa-plus-circle fa-lg"></i> Pedir Cita </a>
            </li>



            <li>
                <a href="https://app-sanidad.herokuapp.com/modificarCita"><i class="fas fa-edit fa-lg"></i> Modificar Cita </a>
            </li>



            <li data-toggle="collapse" class="collapsed active">
                <i class="fas fa-trash-alt fa-lg"></i> Eliminar Cita
            </li>



            <li>
                <a href="http://localhost:8080/preguntasFrecuentes">
                    <i class="fas fa-question-circle fa-lg"></i> Preguntas Frecuentes
                </a>
            </li>


        </ul>
    </div>
    <a><img src="salir.png" class='imgRedondaSalir' onclick="cerrarSesion()" /> </a>
    <div class="contenido"></div>
</div>
<div class="contenido">

    <div class="radioBotton">

        <form action="../../form-result.php" method="post" target="_blank">

           <input type="radio" name="citaL" id="citaL" value="citaL"> 01/10/19 16:12 Centro Pincha Bien Podólogo<br>

        <input type="radio" name="citaM" id="citaM" value="citaM">02/1019 16:25 Centro Pincha Mal Podólogo<br>

        <input type="radio" name="citaX" id="citaX" value="citaX"> 03/10/19 16:12 Centro Pincha Regular Podólogo <br>


        </form>

    </div>

    <div class="btnBorrar">

        <input class="btn" id="btnBorrar" name="btnBorrar" type="submit" value="Borrar">


    </div>


<script src="js/login.js"></script>
<script src="js/borrarCita.js"></script>


</div>