<!doctype html>
<html ng-app>

<head>
    <!DOCTYPE html>

    <!------ Include the above in your HEAD tag ---------->

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>AngularJS, Login</title>
        <!-- AngularJS File -->




        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script src="js/app/app.js"></script>
        <script src="js/jquery-3.3.1.min.js"></script>

        <script src="js/lib/angular.min.js"></script>
        <script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>

        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Website Font style -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link rel="stylesheet" href="style.css">
        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="css/lib/bootstrap.min.css" />
        <link rel="stylesheet" href="css/app/register.css" />



    </head>

    <body>
        <div class="form-body">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <div class="logo">
                            <a href="">
                                <img src="logos_sescam.png" alt="" width="100px">
                            </a>
                        </div>

                        <div class="form-group">
                            <!--<label for="name" class="cols-sm-2 control-label">Nombre</label>-->
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Escribe tu Nombre" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <!--<label for="email" class="cols-sm-2 control-label">Email</label>-->
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="email" id="email" placeholder="Escribe tu Email" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <!--<label for="username" class="cols-sm-2 control-label">Usuario</label>-->
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="username" id="username" placeholder="Escribe tu Usuario" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <!--<label for="password" class="cols-sm-2 control-label">Contraseña</label>-->
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Escribe tu contraseña" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <!--<label for="confirm" class="cols-sm-2 control-label">Confirmar contraseña</label>-->
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirma tu contraseña" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <!--<label for="BornDate" class="cols-sm-2 control-label">Fecha de Nacimiento</label>-->
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i></span>
                                    <input type="date" class="form-control" name="BornDate" id="BornDate" placeholder="Introduce tu Fecha de Nacimiento" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <!--	<label for="Sex" class="cols-sm-2 control-label">Genero</label> -->
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-venus fa-lg" aria-hidden="true"></i></span>
                                    <input type="list" class="form-control" name="sex" id="sex" placeholder="Selecciona el Genero" />
                                </div>
                            </div>
                        </div>

                        <div class="form-button">
                            <input class="btn" id="btnRegistrar" name="btnRegistrar" type="submit" value="Registrar"></input>
                        </div>
                        <script type="text/javascript">
                            document.getElementById("btnRegistrar").onclick = function() {

                                location.href = 'https://fierce-ridge-44791.herokuapp.com/';

                            };
                        </script>

                    </div>
                </div>

            </div>
        </div>
    </body>

</html>