<!DOCTYPE html>
<html ng-app>
<!------ Include the above in your HEAD tag ---------->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>AngularJS, Login</title>
    <!-- AngularJS File -->


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>

    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>

    <link rel="stylesheet" href="css/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app/paciente.css" />

</head>

<header class="dark">
    <nav role="navigation">
        <a href="javascript:void(0);" class="ic menu">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </a>
        <a href="javascript:void(0);" class="ic close"></a>
        <ul class="main-nav">
            <li class="top-level-link">
                <a><span>Home</span></a>
            </li>

            <li class="top-level-link">
                <a><span>PEDIR CITA<span></a>
            </li>
           
            <li class="top-level-link">
                <a><span>MODIFICAR CITA<span></a>
            </li>
            <li class="top-level-link">
                <a><span>BORRAR CITA</span></a>
                
            </li>
            <li class="top-level-link">
                <a><span>PREGUNTAS FRECUENTES</span></a>
            </li>
        </ul>
    </nav>
    <blockquote>
       






    </blockquote>
    </header>

</html>