<!DOCTYPE html>
<html ng-app>
<!------ Include the above in your HEAD tag ---------->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>AngularJS, Login</title>
    <!-- AngularJS File -->


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>

    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>

    <link rel="stylesheet" href="css/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app/preguntasFrecuentes.css" />

</head>

<div class="nav-side-menu">

    <a><img src="logos_sescam.png" class='imgRedonda' />


    </a>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">

            <li>
                <a href="https://fierce-ridge-44791.herokuapp.com/paciente">
                    <i class="fas fa-tachometer-alt fa-lg"></i> Mis Citas
                </a>
            </li>

            <li data-toggle="collapse" data-target="#products" class="collapsed">
                <a href="https://fierce-ridge-44791.herokuapp.com/pedirCita"><i class="fab fa-studiovinari fa-lg"></i> Pedir Cita <span class="arrow"></span></a>
            </li>



           <li data-toggle="collapse" data-target="#products" class="collapsed">
                <a href="https://fierce-ridge-44791.herokuapp.com/modificarCita"><i class="fab fa-studiovinari fa-lg"></i> Modificar Cita <span class="arrow"></span></a>
            </li>



            <li data-toggle="collapse" data-target="#new" class="collapsed">
                <a href="https://fierce-ridge-44791.herokuapp.com/borrarCita"><i class="fab fa-pagelines fa-lg"></i> Eliminar Cita <span class="arrow"></span></a>
            </li>



           <li data-toggle="collapse" data-target="#new" class="collapsed active">
                <a href="#"><i class="fab fa-pagelines fa-lg"></i> Preguntas Frecuentes <span class="arrow"></span></a>
            </li>


        </ul>
    </div>
    <div class="contenido"></div>
</div>
<div class="tabla">




</div>
</div>